/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0b1 | 201101
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: #FFFFFF;
}
html,
body,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-weight: bold;
  font-size: 2.4rem;
  color: #FFFFFF;
}
h2 {
  font-weight: bold;
  font-size: 2.8rem;
  color: #222222;
}
p {
  line-height: 2.4rem;
  font-size: 1.6rem;
  padding-bottom: 10px;
  font-family: Arial, sans-serif;
}
.main-nav > a {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 8.5rem;
  color: #FFFFFF;
}
.main-nav > a:hover {
  color: #222222;
}
.head {
  font-weight: bold;
  font-size: 4.8vw;
  line-height: 7.5rem;
  color: #FFFFFF;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.footer-header {
  font-weight: regular;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #FFFFFF;
}
.footer-section > p {
  font-weight: regular;
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: #FFFFFF;
}
nav {
  height: 50px;
  background-color: #97a4b0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
}
nav a {
  display: none;
}
html {
  background-color: #FFFFFF;
}
header {
  background-image: url('../img/home/home-jumbotron.png');
  background-size: 100% 75%;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  padding: 25vw 5vw 40vw 10vw;
}
.main-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}
.main-content .content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
.main-content .content .content-section {
  width: 50%;
}
.main-content .content h2 {
  margin: 20px 0;
}
.main-content .content p {
  margin: 20px 0;
}
.main-content .content button {
  height: 5rem;
  width: 14rem;
  border: 1px solid #222222;
  background-color: #FFFFFF;
  font-size: 1.6rem;
}
.main-content .content button:hover {
  height: 6rem;
  width: 15rem;
}
.main-content .second-content {
  flex-direction: row-reverse;
}
.projects {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.projects h2 {
  margin-bottom: 30px;
}
.projects .example-project .project-header h3 {
  font-size: 2.8rem;
  background-color: #d8d8d8;
  height: 100px;
  width: 350px;
  border: 1px solid #FFFFFF;
  position: relative;
  top: -60px;
  left: 660px;
  z-index: 2;
  text-align: center;
  padding-top: 36px;
  letter-spacing: 0.6rem;
}
.projects .example-project .project-header h3 #middle-header {
  position: relative;
  right: 660px;
}
.projects .example-project .project-header img {
  width: 100%;
  z-index: 1;
}
.projects .example-project .project-content {
  width: 50%;
  margin: 10px auto 60px;
}
