.contact-header {
  background-image: url('../img/contact/contact-jumbotron.png');
  height: 300px;
  background-size: 100% 100%;
  padding: 0;

  h1 {
    font-size: 6.4rem;
    padding-left: 5%;
    padding-top: 15%;
  }
}

.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .contact-section-1 {
    width: 70%:
    padding: 40px 20px;

    h2 {
      padding-top: 40px;
    }

    form {
      width: 80%;
    }
  }

  .contact-section-2 {
    width: 20%;
    padding: 40px;
  }
}
