footer {
  width: 100%;
  background-color: @footer-background;
  display: flex;
  flex-direction: column;

  .footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;

    .footer-section {
      width: 20%;
      padding: 20px;

      .footer-header {
        line-height: 1.5;
      }
    }

    .first-section {
      width: 40%;

      form {
        input[type=text] {
          width: 80%;
          height: 40px;
          border-radius: 5px;
          margin: 5px 0;
        }

        textarea {
          display: block;
        }

        ::placeholder {
          font-size: 1.6rem;
          opacity: 0.8;
          padding-left: 5px;
        }
      }

      .email {
        font-size: 1.2rem;
      }
    }
  }

  .copyright {
    width: 80%;
    margin: 10px auto;
    color: @white;
    text-align: center;
    font-size: 1rem;
    font-weight: regular;
  }
}
