.dropdown {
  height: 50px;
  background-color: @nav-background-closed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;

  .nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 84px;
    height: 50px;
    z-index: 3;
  }

  .expanded {
    background-color: @blue-gray;
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
    opacity: 0.8;


    .expanded-link {
      font-weight: bold;
      font-size: 4.8rem;
      line-height: 8.5rem;
      color: @white;
      text-decoration: none;

      &:hover {
        color: @dark-gray;
        cursor: pointer;
      }
    }
  }

  .expanded-hidden {
    display: none;

  }


}
