html {
  background-color: @background;
}

.services-header {
  background-image: url('../img/services/services-jumbotron.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  padding: 0;
  height: 300px;

  @media @phone {
    background-image: url('../img/services/services-mobile-jumbotron.png')
  }

  h1 {
    font-size: 6.4rem;
    padding-left: 5%;
    padding-top: 15%;

    @media @phone {
      font-size: 4.4rem;
      padding-top: 50%;
    }
  }
}

.info {
  display: flex;
  justify-content: center;
  padding: 50px 0;

  .services-info {
    width: 60%;
    margin: 0 auto;

    @media @phone {
      width: 90%;
    }
  }
}

.services-tabs {
  width: 100%;

  .tab-info {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }

  .tab-content {
    display: none;
    width: 71%;

    @media @phone {
      width: 90%;
    }

    .tab-all {
      display: flex;
      flex-direction: row;
      padding: 30px;

      @media @phone {
        flex-direction: column;
        padding: 0;
      }

      .tab-section {
        width: 50%;
        padding-left: 30px;

        @media @phone {
          width: 90%;
          padding-left: 10;
        }

        .tab-header {
          font-size: 2.4rem;
          font-weight: bold;
          padding: 20px 0;
        }

        .services-desktop {

          @media @phone {
            display: none;
          }
        }

        .services-mobile {
          display: none;

          @media @phone {
            display: block;
            width: 100%;
          }
        }
      }

      .tab-img {
        padding-left: 50px;

        @media @phone {
          padding-left: 25px;
        }
      }
    }
  }

  .tab-content-selected {
    display: block;
  }

  .tab-links {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    @media @phone {
      flex-direction: column;
      width: 90%;
    }
  }

  .tab-link {
    padding: 20px 25px;
    font-size: 24px;
    background-color: @white;
    border: 1px solid black;
    color: @dark-gray;
    cursor: pointer;

    @media @phone {
      margin: 10px auto;
      height: 65px;
      width: 100%;
      text-align: center;
    }

    &:hover {
      background-color: @dark-gray;
      color: @white;
    }
  }

  .tab-link-selected {
    z-index: 2;
    background-color: @blue;
    color: @white;
  }
}
